.container {
  z-index: 99;
  position: absolute;
  bottom: 95px;
  flex-direction: column;
  height: 76vh;
  border-radius: 10px;
  padding: 0px 30px;
  background-color: white;
  box-shadow: 0px 0px 5px 0.1px #0194e9;
  margin: 0px 20px;
}

.closeContainer {
  margin: 20px 0px 0px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.closeButton {
  padding: 10px;
  border: 1px solid #0194e9;
  border-radius: 100%;
  width: 30px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.selectContainer {
  width: 100%;
}

.nameContainer {
  display: flex;
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  margin-top: 20px;
}

.addContainer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
