.container {
  display: flex;
  height: 100vh;
  background-color: #fbf9f9ff;
  flex-direction: column;
  padding-top: 10px;
}

.statisticsContainer {
  color: #000;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: 20px;
}

@supports (-webkit-touch-callout: none) {
  .container {
    height: 86vh !important;
  }
}
