.container {
  display: flex;
  height: 100vh;
  background-color: #fbf9f9ff;
}

.statisticsContainer {
  color: #000;
  margin-top: 60px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: 20px;
}

@supports (-webkit-touch-callout: none) {
  .container {
    height: 86vh !important;
  }
}
.dashboardContainer {
  flex: 1;
}

.appointmentContainer {
  flex: 11;
  padding-bottom: 50px;
  overflow: scroll;
}
