.container {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  background-color: #fbf9f9ff;
}
@supports (-webkit-touch-callout: none) {
  .container{
    height: 86vh!important;
  }
}

.statisticCount{
  flex: 6;
  display: flex;
  align-items: center;
}
.datePicker{
  flex: 6;
}

.statisticsContainer {
  color: #000;
  margin-top: 60px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: 20px;
}

.dashboardContainer {
  flex: 1;
}

.appointmentContainer {
  flex: 11;
  overflow: scroll;
}
